<div class="row">
	<div class="col-md-3">
		<p>Feed options</p>
	</div>
	<div class="col-md-6">
		<% @questions.each do |question| %>
			<h3><%= question.title %></h3>
			<small>Asked <%= time_ago_in_words(question.created_at) %> ago by <%= question.user.full_name %>.</small>
			<p><%= question.body %></p>
			<hr>
		<% end %>
	</div>
	<div class="col-md-3">
		<p>Update your profile</p>
	</div>
</div>		

